<a href="https://colab.research.google.com/github/Deshvena/rohan/blob/main/Rohan_Project_Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project  Credit Card Fraud Detection

Intoduction

--> About Data 

--> Data Dictionary

--> Data Variable

**Load And check The Data**

Import Library

Import Data

Exploratory Data Analysis

Missing Value Analysis

Target Variable Analysis

Data Handling and Preparation

Handing Missing Data

Train Test Split

Model Training

Logistic Regression

K-Nearest Neighbours

Decision Tree

Random Forest

Load And Check tha data  Import Libraries

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [ ]:
#Loding the data set to google colab 
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [ ]:
#Loding the dataset to pandas Libraries
df=pd.read_csv('/drive/MyDrive/Datasets/creditcard.csv')

In [ ]:
df #data of Cardit card fraud detection

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
#first 5 rows of the dataset
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
#last 5 rows of the datasets
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [ ]:
#The Dataset All informations
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
#Checking the all numbers of the dataset missing values
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
# distribution of Fair transactions & fraudulent transactions
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 ---> Normal Transactions
1----> fraudulent Transactions

In [ ]:
# separating the data for analysis
Fair = df[df.Class == 0]
fraud = df[df.Class == 1]

In [ ]:
#Shape of the Both transactions 
print(Fair.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
#Statistical Measure Of the Deta Set
Fair.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#Compare the Value of the both the Transations 
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [ ]:
Fair_sample = Fair.sample(n=492)

In [ ]:
#Concatenating two DataFrames
new_df=pd.concat([Fair_sample,fraud],axis=0)

In [ ]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
271082,164403.0,-0.576606,0.310298,-0.133778,-1.432341,1.166726,0.342591,1.301361,-0.194980,-2.159446,...,0.222206,1.129483,-0.752542,-0.107382,1.660695,0.539455,-0.013998,0.027925,90.43,0
99901,67328.0,-1.275180,0.835041,1.266576,0.001053,0.600461,-0.974036,0.970103,-0.455835,-0.137947,...,-0.393772,-0.838453,-0.120763,0.387166,-0.596620,-0.129117,-0.240896,-0.057285,40.90,0
246812,153339.0,2.075795,0.088065,-1.280851,0.359046,0.060711,-1.348381,0.335553,-0.472313,0.422553,...,0.258360,0.971891,-0.012053,0.115033,0.306177,-0.114950,-0.011926,-0.056227,0.76,0
38262,39318.0,1.247014,-0.671339,-0.447133,-0.535434,-0.485807,-0.465049,-0.328832,-0.167443,-0.584459,...,-0.079116,-0.443559,-0.233488,-0.676032,0.574124,-0.251166,0.000564,0.047301,122.10,0
47121,43089.0,1.030646,-0.573638,1.217802,0.308482,-1.452995,-0.621280,-0.553976,-0.015796,1.021739,...,-0.042442,-0.109730,0.022977,0.798816,0.045704,0.960357,-0.047937,0.034912,93.23,0

In [ ]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,98291.335366,0.047735,0.109243,0.075082,-0.047108,-0.024984,-0.016765,0.102469,0.017221,0.030249,...,0.016029,0.010092,0.035316,0.014378,0.007192,-0.028147,0.014568,-0.004682,-0.005143,84.813841
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
#Splitting the data into Features & Targets

In [ ]:
X = new_df.drop(columns='Class', axis=1)
Y = new_df['Class']

In [ ]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
271082,164403.0,-0.576606,0.310298,-0.133778,-1.432341,1.166726,0.342591,1.301361,-0.194980,-2.159446,...,-0.117592,0.222206,1.129483,-0.752542,-0.107382,1.660695,0.539455,-0.013998,0.027925,90.43
99901,67328.0,-1.275180,0.835041,1.266576,0.001053,0.600461,-0.974036,0.970103,-0.455835,-0.137947,...,-0.246969,-0.393772,-0.838453,-0.120763,0.387166,-0.596620,-0.129117,-0.240896,-0.057285,40.90
246812,153339.0,2.075795,0.088065,-1.280851,0.359046,0.060711,-1.348381,0.335553,-0.472313,0.422553,...,-0.174274,0.258360,0.971891,-0.012053,0.115033,0.306177,-0.114950,-0.011926,-0.056227,0.76
38262,39318.0,1.247014,-0.671339,-0.447133,-0.535434,-0.485807,-0.465049,-0.328832,-0.167443,-0.584459,...,0.351492,-0.079116,-0.443559,-0.233488,-0.676032,0.574124,-0.251166,0.000564,0.047301,122.10
47121,43089.0,1.030646,-0.573638,1.217802,0.308482,-1.452995,-0.621280,-0.553976,-0.015796,1.021739,...,0.113430,-0.042442,-0.109730,0.022977,0.798816,0.045704,0.960357,-0.047937,0.034912,93.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [ ]:
Y

271082    0
99901     0
246812    0
38262     0
47121     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Now Split The Data Into Traning Data into SplitData

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [ ]:
X_train

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
42007,40918.0,-3.140260,3.367342,-2.778931,3.859701,-1.159518,-0.721552,-4.195342,-0.598346,-2.870145,...,0.077781,2.452339,-0.292963,-0.189330,-0.166482,0.038040,-0.015477,0.776691,0.397557,0.76
185752,126810.0,-0.227307,1.130996,-0.496399,-0.231291,0.886857,-1.288377,1.287154,-0.581400,0.262014,...,0.230944,0.196320,1.121593,-0.239587,-0.046792,-0.287284,-0.174286,0.226001,0.054497,35.39
251224,155274.0,2.105292,0.156192,-1.930382,0.277267,0.743163,-0.472419,0.179331,-0.192125,0.485466,...,-0.125219,-0.391709,-0.998688,0.274511,-0.061454,-0.189261,0.210113,-0.058314,-0.035983,1.79
60977,49590.0,0.695790,-1.996165,0.476825,-0.483784,-1.650082,0.322200,-0.873752,0.163499,-0.206660,...,0.749334,0.512155,0.689749,-0.493189,-0.300324,0.360061,-0.055236,-0.026171,0.066557,355.00
75147,55919.0,1.192909,0.224228,0.475258,1.003983,-0.398591,-0.588487,-0.059480,0.013441,-0.063988,...,-0.191054,-0.014178,-0.091235,-0.019394,0.297848,0.481705,-0.453015,0.012849,0.013196,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10568,17520.0,-5.268053,9.067613,-15.960728,10.296603,-4.708241,-3.395375,-11.161057,5.499963,-5.667376,...,1.455878,2.004110,0.191058,0.622928,-1.209264,-0.374799,0.648798,1.584697,0.720056,1.00
27749,34687.0,-0.860827,3.131790,-5.052968,5.420941,-2.494141,-1.811287,-5.479117,1.189472,-3.908206,...,1.085760,1.192694,0.090356,-0.341881,-0.215924,1.053032,0.271139,1.373300,0.691195,19.02
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,2.102339,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00
9252,13323.0,-5.454362,8.287421,-12.752811,8.594342,-3.106002,-3.179949,-9.252794,4.245062,-6.329801,...,1.305862,1.846165,-0.267172,-0.310804,-1.201685,1.352176,0.608425,1.574715,0.808725,1.00
276761,167285.0,-1.337160,0.928326,0.970605,-0.946007,0.647606,-1.242542,0.809387,0.191336,-0.821032,...,-0.084738,-0.203268,-0.847160,-0.292813,0.070933,0.616440,0.229347,-0.173291,-0.087507,1.98

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [ ]:
model=LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
X_train

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
42007,40918.0,-3.140260,3.367342,-2.778931,3.859701,-1.159518,-0.721552,-4.195342,-0.598346,-2.870145,...,0.077781,2.452339,-0.292963,-0.189330,-0.166482,0.038040,-0.015477,0.776691,0.397557,0.76
185752,126810.0,-0.227307,1.130996,-0.496399,-0.231291,0.886857,-1.288377,1.287154,-0.581400,0.262014,...,0.230944,0.196320,1.121593,-0.239587,-0.046792,-0.287284,-0.174286,0.226001,0.054497,35.39
251224,155274.0,2.105292,0.156192,-1.930382,0.277267,0.743163,-0.472419,0.179331,-0.192125,0.485466,...,-0.125219,-0.391709,-0.998688,0.274511,-0.061454,-0.189261,0.210113,-0.058314,-0.035983,1.79
60977,49590.0,0.695790,-1.996165,0.476825,-0.483784,-1.650082,0.322200,-0.873752,0.163499,-0.206660,...,0.749334,0.512155,0.689749,-0.493189,-0.300324,0.360061,-0.055236,-0.026171,0.066557,355.00
75147,55919.0,1.192909,0.224228,0.475258,1.003983,-0.398591,-0.588487,-0.059480,0.013441,-0.063988,...,-0.191054,-0.014178,-0.091235,-0.019394,0.297848,0.481705,-0.453015,0.012849,0.013196,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10568,17520.0,-5.268053,9.067613,-15.960728,10.296603,-4.708241,-3.395375,-11.161057,5.499963,-5.667376,...,1.455878,2.004110,0.191058,0.622928,-1.209264,-0.374799,0.648798,1.584697,0.720056,1.00
27749,34687.0,-0.860827,3.131790,-5.052968,5.420941,-2.494141,-1.811287,-5.479117,1.189472,-3.908206,...,1.085760,1.192694,0.090356,-0.341881,-0.215924,1.053032,0.271139,1.373300,0.691195,19.02
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,2.102339,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00
9252,13323.0,-5.454362,8.287421,-12.752811,8.594342,-3.106002,-3.179949,-9.252794,4.245062,-6.329801,...,1.305862,1.846165,-0.267172,-0.310804,-1.201685,1.352176,0.608425,1.574715,0.808725,1.00
276761,167285.0,-1.337160,0.928326,0.970605,-0.946007,0.647606,-1.242542,0.809387,0.191336,-0.821032,...,-0.084738,-0.203268,-0.847160,-0.292813,0.070933,0.616440,0.229347,-0.173291,-0.087507,1.98

In [ ]:
#Model Evaluation

In [ ]:
#Accuracy Score

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
y_pred = model.predict(X_test)

In [ ]:
print(confusion_matrix(Y_test, y_pred))

[[91  4]
 [ 7 95]]

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.951715374841169

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9441624365482234

In [ ]:
#K-Nearest Neighbours

The k-nearest neighbors (KNN) algorithm is a simple, easy-to-implement supervised machine learning algorithm that can be used to solve both classification and regression problems

In [ ]:
Model = KNeighborsClassifier(n_neighbors=8)
Model.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=8)

In [ ]:
y_pred = Model.predict(X_test)

In [ ]:
print(classification_report(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred))

              precision    recall  f1-score   support

           0       0.56      0.71      0.63        95
           1       0.64      0.49      0.56       102

    accuracy                           0.59       197
   macro avg       0.60      0.60      0.59       197
weighted avg       0.60      0.59      0.59       197

[[67 28]
 [52 50]]

In [ ]:
print('accuracy is',accuracy_score(y_pred,Y_test))

accuracy is 0.5939086294416244

Decision Tree (CART)

Classification and Regression Trees (CART or just decision trees) construct a binary tree from the training data. Split points are chosen greedily by evaluating each attribute and each value of each attribute in the training data in order to minimize a cost function (like the Gini index). You can construct a CART model using the DecisionTreeClassifier class

In [ ]:
Model = DecisionTreeClassifier()
Model.fit(X_train, Y_train)
y_pred = Model.predict(X_test)

In [ ]:
print(classification_report(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        95
           1       0.91      0.92      0.92       102

    accuracy                           0.91       197
   macro avg       0.91      0.91      0.91       197
weighted avg       0.91      0.91      0.91       197

[[86  9]
 [ 8 94]]

In [ ]:
print('accuracy is',accuracy_score(y_pred,Y_test))

accuracy is 0.9137055837563451

Naive Bayes

Naive Bayes calculates the probability of each class and the conditional probability of each class given each input value. These probabilities are estimated for new data and multiplied together, assuming that they are all independent (a simple or naive assumption). When working with real-valued data, a Gaussian distribution is assumed to easily estimate the probabilities for input variables using the Gaussian Probability Density Function. You can construct a Naive Bayes model using the GaussianNB class

In [ ]:

Model = GaussianNB()
Model.fit(X_train, Y_train)
y_pred = Model.predict(X_test)

In [ ]:
print(classification_report(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      1.00      0.88        95
           1       1.00      0.75      0.86       102

    accuracy                           0.87       197
   macro avg       0.90      0.88      0.87       197
weighted avg       0.90      0.87      0.87       197

[[95  0]
 [25 77]]

In [ ]:
print('accuracy is',accuracy_score(y_pred,Y_test))

accuracy is 0.8730964467005076

Random Forest

Random Forests is an extension of bagged decision trees. Samples of the training dataset are taken with replacement, but the trees are constructed in a way that reduces the correlation between individual classifiers. Specifically, rather than greedily choosing the best split point in the construction of each tree, only a random subset of features are considered for each split. You can construct a Random Forest model for classification using the RandomForestClassifier class.

In [ ]:

Model = RandomForestClassifier(n_estimators=100, max_features=3)
Model.fit(X_train, Y_train)
y_pred = Model.predict(X_test)

In [ ]:
print(classification_report(Y_test, y_pred))
print(confusion_matrix(Y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.99      0.95        95
           1       0.99      0.91      0.95       102

    accuracy                           0.95       197
   macro avg       0.95      0.95      0.95       197
weighted avg       0.95      0.95      0.95       197

[[94  1]
 [ 9 93]]

In [ ]:
print('accuracy is',accuracy_score(y_pred,Y_test))

accuracy is 0.949238578680203